InputQuery (
    query: r#"
{
  File {
    ast_node {
      ... on BinaryExpression {
        # if either side is a equality operator (==, ===, !=, !==), flag it
        both_sides @fold @transform(op: "count") @filter(op: ">", value: ["$zero"]) {
          ... on BinaryExpression {
            operator {
              is_equality @filter(op: "=", value: ["$true"])
            }
          }
        }

        operator {
          is_equality @filter(op: "=", value: ["$true"])
        }

        span {
          span_start: start @output
          span_end: end @output
        }
      }
    }
  }
}"#,
    args: {
        "true": Boolean(true),
        "zero": Uint64(0)
    },
    reason: "The comparison operator should not be applied 2 or more times in a row"
)
