---
debugger
---

<!-- Store the message prop as a data attribute. -->
<astro-greet data-message={message}>
  <button>Say hi!</button>
</astro-greet>

<script asdf >
  debugger
</script>

<script asdf>
  debugger
</script>

<script>
  debugger
</script>
