[package]
name                   = "oxc_resolver"
version                = "0.0.0"
publish                = false
authors.workspace      = true
description.workspace  = true
edition.workspace      = true
homepage.workspace     = true
keywords.workspace     = true
license.workspace      = true
repository.workspace   = true
rust-version.workspace = true
categories.workspace   = true

[dependencies]
dashmap       = { workspace = true }
serde         = { workspace = true, features = ["derive"] }
serde_json    = { workspace = true }
rustc-hash    = { workspace = true }
indexmap      = { workspace = true, features = ["serde"] }
dunce         = "1.0.4"
# Use `std::sync::OnceLock::get_or_try_init` when it is stable.
once_cell     = "1.18.0"

[dev-dependencies]
static_assertions = { workspace = true }
criterion         = { workspace = true }
rayon             = { workspace = true } # for benchmark
nodejs-resolver   = "0.0.88"             # for benchmark
vfs               = "0.9.0"              # for testing with in memory file system

[target.'cfg(not(target_env = "msvc"))'.dev-dependencies]
jemallocator = { workspace = true }

[target.'cfg(target_os = "windows")'.dev-dependencies]
mimalloc = { workspace = true }

[[bench]]
name    = "resolver"
harness = false
