InputQuery (
    query: r#"
query {
  File {
    import {
      from_path @filter(op: "=", value: ["$nextslashdocument"])

      specific_import @fold @transform(op: "count") @filter(op: ">", value: ["$zero"]) {
        original_name @filter(op: "=", value: ["$Head"])
      }
    }

    jsx_element {
      opening_element {
        name @filter(op: "=", value: ["$title"])
        span_: span {
          start @output
          end @output
        }
      }
    }
  }
}"#,
    args: {
      "Head": String("Head"),
      "zero": Uint64(0),
      "title": String("title"),
      "nextslashdocument": String("next/document")
    },
    reason: "Do not use `<title>` element with `<Head />` component from `next/document`. Titles should defined at the page-level using `<Head />` from `next/head` instead."
)
