@conversion-1: 5cm + 10mm;
@incompatible-units: 2 + 5px - 3cm;
@base: 5%;
@filler: @base * 2;
@other: @base + @filler;
@base-2: 2cm * 3mm;
@color-1: #224488 / 2;
.weird-element {
  content: ~"^//* some horrible but needed css hack";
}
@config: {
  option1: true;
  option2: false;
}
.mixin() when (@config[option1] = true) {
  selected: value;
}
.box {
  .mixin();
}
a {
  prop1: func(1px,1px,1px,func(1px,1px,1px,func(1px,1px,1px)));
  prop3: func(1px, 1px, 1px, func(1px, 1px, 1px, func(1px, 1px, 1px)));
  prop6: func(
      1px
      ,
      1px
      ,
      func(
          1px
          ,
          1px
      )
  );
}
.foo {
  --paddingC: calc(  var(  --widthB  )  /  2  );
  content: attr(  data-title  );
  color: var(  --main-bg-color  );
  background-color: rgb(  255,  0,  0  );
  prop12: 10px/8px;
  prop43: 1px + 1px + 1px + 1px;
}
