InputQuery (
    query: r#"
query {
  File {
    class {
      constructor {
        accessibility @filter(op: "is_null")
        span_: span {
          start @output
          end @output
        }
      }
    }
  }
}"#,
    args: {
    },
    reason: "Add access modifier."
)
