# Default to project owner @Boshen

@Boshen

# Ignore lock files

Cargo.lock
pnpm-lock.yaml

/crates/oxc_data_structures @overlookmotel
/crates/oxc_isolated_declarations @dunqing
/crates/oxc_prettier @leaysgur
/crates/oxc_regular_expression @leaysgur
/crates/oxc_semantic @Boshen @dunqing
/crates/oxc_transformer/src/plugins @boshen
/crates/oxc_transformer @overlookmotel @dunqing
/crates/oxc_traverse @overlookmotel

/tasks/ast_tools @overlookmotel
