---
import z from "z";
  import a from "a";
    import m from "m";

const count = 0;
---
<html>
  <body>
    <div class="p-4 flex m-0">{count}</div>
    <button class="m-2 p-1 flex">Click</button>
    <script>
      import z from "z";
      import a from "a";
      const   y  =   2;
    </script>
  </body>
</html>
