[submodule "tasks/coverage/test262"]
	path = tasks/coverage/test262
	url = git@github.com:tc39/test262.git
	shallow = true
	branch = main
[submodule "tasks/coverage/babel"]
	path = tasks/coverage/babel
	url = git@github.com:babel/babel.git
	shallow = true
	branch = main
[submodule "tasks/coverage/typescript"]
	path = tasks/coverage/typescript
	url = git@github.com:microsoft/TypeScript.git
	shallow = true
	branch = main
[submodule "tasks/prettier_conformance/prettier"]
	path = tasks/prettier_conformance/prettier
	url = git@github.com:prettier/prettier.git
	shallow = true
	branch = e8ac9f8d2a1c7083ac4f8a9b960521b62d60c94f #v3.1.0
