target/
**/*.rs.bk

/node_modules/
/website/node_modules/
/benchmark/node_modules/
/tasks/benchmark/codspeed/node_modules/
/editors/vscode/node_modules/
/editors/vscode/icon.png

/editors/vscode/out/
/editors/vscode/*.vsix

npm/cli-*

/napi/parser/deserialize.js
/napi/parser/schema.json
/napi/parser/sizes.json
/napi/parser/*.diff

# Ignore accidental files from the root
/*.js
/*.jsx
/*.ts
/*.tsx
/tasks/transform_conformance/fixtures/*
/*.ast.txt
/*.cfg.txt
/*.dot

tasks/coverage/babel/
tasks/coverage/test262/
tasks/coverage/typescript/
tasks/prettier_conformance/prettier/

# Ignore the failures directory, which is used to store the results of the codegen coverage tests
tasks/coverage/failures/
