target/
**/*.rs.bk

/node_modules/
/website/node_modules/
/crates/oxc_napi/node_modules/
/benchmark/node_modules/
/editor/vscode/node_modules/

/editor/vscode/dist/
/editor/vscode/*.vsix

npm/cli-*

# From napi build
crates/oxc_napi/*.node

# Ignore accidental files from the root
/*.js
/*.jsx
/*.ts
/*.tsx
