!apps/oxlint/test/fixtures/**
**/*.snap.*
**/fixtures/**
**/tests/**
apps/oxlint/src-js/bindings.d.ts
apps/oxlint/src-js/bindings.js
napi/parser/src-js/bindings.js
napi/parser/src-js/header.d.ts
napi/{parser,transform,minify,playground}/**/*.wasi-browser.js
napi/{parser,transform,minify,playground}/**/*.wasi.cjs
napi/{parser,transform,minify,playground}/**/browser.js
napi/{parser,transform,minify,playground}/**/index.d.ts
napi/{parser,transform,minify,playground}/**/wasi-worker-browser.mjs
napi/{parser,transform,minify,playground}/**/wasi-worker.mjs
napi/{transform,minify,playground}/index.js
npm/oxc-wasm/**
npm/runtime/src
tasks/coverage/misc
tasks/coverage/node-compat-table
tasks/transform_conformance/tests/**
