[workspace]
resolver = "2"
members  = ["crates/*", "tasks/*"]

[workspace.package]
authors     = ["Boshen <boshenc@gmail.com>", "Oxc contributors"]
description = "Oxc is a JavaScript / TypeScript parser with full Test262 conformance."
edition     = "2021"
homepage    = "https://github.com/Boshen/oxc"
keywords    = ["JavaScript", "TypeScript", "parser"]
license     = "MIT"
repository  = "https://github.com/Boshen/oxc"

[workspace.dependencies]
# Release:
# * Edit these versions, commit
# * cargo ws version --amend --no-git-tag --no-git-push
# publish = true
oxc_allocator   = { version = "0.0.6", path = "crates/oxc_allocator" }
oxc_ast         = { version = "0.0.6", path = "crates/oxc_ast" }
oxc_diagnostics = { version = "0.0.6", path = "crates/oxc_diagnostics" }
oxc_parser      = { version = "0.0.6", path = "crates/oxc_parser" }
oxc_formatter   = { version = "0.0.6", path = "crates/oxc_formatter" }
oxc_semantic    = { version = "0.0.6", path = "crates/oxc_semantic" }

# publish = false
oxc_span           = { version = "0.0.0", path = "crates/oxc_span" }
oxc_macros         = { version = "0.0.0", path = "crates/oxc_macros" }
oxc_linter         = { version = "0.0.0", path = "crates/oxc_linter" }
oxc_type_synthesis = { version = "0.0.0", path = "crates/oxc_type_synthesis" }
oxc_minifier       = { version = "0.0.0", path = "crates/oxc_minifier" }
oxc_hir            = { version = "0.0.0", path = "crates/oxc_hir" }
oxc_ast_lower      = { version = "0.0.0", path = "crates/oxc_ast_lower" }
oxc_syntax         = { version = "0.0.0", path = "crates/oxc_syntax" }
oxc_index          = { version = "0.0.0", path = "crates/oxc_index" }
oxc_semantic2      = { version = "0.0.0", path = "crates/oxc_semantic2" }

oxc_tasks_common = { path = "tasks/common" }

bitflags          = { version = "2.3.1" }
bumpalo           = { version = "3.13.0" }
clap              = { version = "4.3.0" }
compact_str       = { version = "0.7.0" }
convert_case      = { version = "0.6.0" }
criterion         = { version = "0.5.0", default-features = false }
flate2            = { version = "1.0.26" }
glob              = { version = "0.3.1" }
ignore            = { version = "0.4.20" }
indextree         = { version = "4.6.0" }
itertools         = { version = "0.10.5" }
jemallocator      = { version = "0.5.0" }
lazy_static       = { version = "1.4.0" }
miette            = { version = "5.9.0" }
mimalloc          = { version = "0.1.37" }
num-bigint        = { version = "0.4.3" }
num-traits        = { version = "0.2.15" }
num_cpus          = { version = "1.15.0" }
once_cell         = { version = "1.17.2" }
phf               = { version = "0.11" }
pico-args         = { version = "0.5.0" }
proc-macro2       = { version = "1.0.59" }
project-root      = { version = "0.2.2" }
quote             = { version = "1.0.28" }
rayon             = { version = "1.7.0" }
regex             = { version = "1.8.3" }
rustc-hash        = { version = "1.1.0", default-features = false, features = ["std"] }
ryu-js            = { version = "0.2.2" }
serde             = { version = "1.0.163" }
serde_json        = { version = "1.0.96" }
syn               = { version = "1.0.109" }
thiserror         = { version = "1.0.40" }
tokio             = { version = "1" }
unicode-id-start  = { version = "1.1.0" }
ureq              = { version = "2.6.2", default-features = false }
url               = { version = "2.3.1" }
walkdir           = { version = "2.3.3" }
indexmap          = { version = "1.9.3" }
index_vec         = { version = "0.1.3" }
static_assertions = { version = "1.1.0" }
stacker           = { version = "0.1.15" }

[workspace.metadata.workspaces]
allow_branch = "main"

[profile.release.package.oxc_wasm]
opt-level = 'z'

[profile.release]
# Configurations explicitly listed here for clarity.
# Using the best options for performance.
opt-level     = 3
lto           = "fat"
codegen-units = 1
strip         = "symbols"
debug         = false
panic         = "abort"   # Let it crash and force ourselves to write safe Rust.

# Use the `--profile release-debug` flag to show symbols in release mode.
# e.g. `cargo build --profile release-debug`
[profile.release-debug]
inherits = "release"
strip    = false
debug    = true
