[package]
name                   = "oxc_module_lexer"
version                = "0.15.0"
publish                = true
authors.workspace      = true
description.workspace  = true
edition.workspace      = true
homepage.workspace     = true
keywords.workspace     = true
license.workspace      = true
repository.workspace   = true
rust-version.workspace = true
categories.workspace   = true
include                = ["/examples", "/src"]

[lints]
workspace = true

[lib]
test    = false
doctest = false

[dependencies]
oxc_ast  = { workspace = true }
oxc_span = { workspace = true }

[dev-dependencies]
oxc_allocator = { workspace = true }
oxc_parser    = { workspace = true }
