InputQuery (
    query: r#"
query {
  File {
    jsx_element {
      opening_element {
        name @filter(op: "=", value: ["$link"])

        span_: span {
          start @output
          end @output
        }

        attribute @fold @transform(op: "count") @filter(op: ">", value: ["$zero"]) {
          name @filter(op: "=", value: ["$rel"])
          value_as_constant_string @filter(op: "=", value: ["$stylesheet"])
        }

        attribute @fold @transform(op: "count") @filter(op: ">", value: ["$zero"]) {
          name @output @filter(op: "=", value: ["$href"])
          value_as_constant_string @output @filter(op: "not_regex", value: ["$http_regex"])
        }
      }
    }
  }
}"#,
    args: {
      "zero": Uint64(0),
      "link": String("link"),
      "href": String("href"),
      "rel": String("rel"),
      "stylesheet": String("stylesheet"),
      "http_regex": String("^https?")
    },
    reason: "Do not include stylesheets manually."
)
