[package]
name                   = "oxc_linter"
version                = "0.0.0"
publish                = false
authors.workspace      = true
description.workspace  = true
edition.workspace      = true
homepage.workspace     = true
keywords.workspace     = true
license.workspace      = true
repository.workspace   = true
rust-version.workspace = true
categories.workspace   = true

[lints]
workspace = true

[lib]
doctest = false

[dependencies]
oxc_allocator   = { workspace = true }
oxc_parser      = { workspace = true }
oxc_span        = { workspace = true }
oxc_ast         = { workspace = true }
oxc_diagnostics = { workspace = true }
oxc_macros      = { workspace = true }
oxc_semantic    = { workspace = true }
oxc_syntax      = { workspace = true }
oxc_codegen     = { workspace = true }
oxc_index       = { workspace = true }
oxc_resolver    = { version = "1.2.2" }

rayon         = { workspace = true }
lazy_static   = { workspace = true }                        # used in oxc_macros
serde_json    = { workspace = true }
serde         = { workspace = true }
regex         = { workspace = true }
rustc-hash    = { workspace = true }
phf           = { workspace = true, features = ["macros"] }
num-traits    = { workspace = true }
itertools     = { workspace = true }
dashmap       = { workspace = true }
convert_case  = { workspace = true }
language-tags = { workspace = true }
mime_guess    = { workspace = true }
url           = { workspace = true }

rust-lapper         = "1.1.0"
once_cell           = "1.19.0"
memchr              = "2.7.1"
json-strip-comments = "1.0.1"

[dev-dependencies]
insta = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["once_cell"]
