[package]
name                  = "oxc_linter"
version               = "0.0.0"
publish               = false
authors.workspace     = true
description.workspace = true
edition.workspace     = true
homepage.workspace    = true
keywords.workspace    = true
license.workspace     = true
repository.workspace  = true

[dependencies]
oxc_span        = { workspace = true }
oxc_ast         = { workspace = true }
oxc_diagnostics = { workspace = true }
oxc_macros      = { workspace = true }
oxc_semantic    = { workspace = true }
oxc_syntax      = { workspace = true }
oxc_formatter   = { workspace = true }

lazy_static = { workspace = true }                        # used in oxc_macros
serde = { workspace = true, features = ["derive"] }
serde_json  = { workspace = true }
rustc-hash  = { workspace = true }
phf         = { workspace = true, features = ["macros"] }
num-traits  = { workspace = true }

rust-lapper = "1.1.0"

trustfall = "0.5.0"
ron = "0.8.0"

[dev-dependencies]
oxc_allocator = { workspace = true }
oxc_parser    = { workspace = true }
miette        = { workspace = true, features = ["fancy-no-backtrace"] }

insta = { version = "1.28.0", features = ["glob"] }
