InputQuery (
    query: r#"
query {
  File {
    jsx_element {
      opening_element {
        name @filter(op: "=", value: ["$link"])

        span_: span {
          start @output
          end @output
        }

        attribute {
          name @filter(op: "=", value: ["$href"])
          value_as_constant_string @filter(op: "has_prefix", value: ["$href_value_start"])

          value_as_url {
            search_parameter @fold @transform(op: "count") @filter(op: ">", value:["$zero"]) {
              key @filter(op: "=", value: ["$display"])
              value @filter(op: "one_of", value: ["$bad_display_values"])
            }
          }
        }
      }
    }
  }
}"#,
    args: {
      "zero": Uint64(0),
      "link": String("link"),
      "href": String("href"),
      "display": String("display"),
      "href_value_start": String("https://fonts.googleapis.com/css"),
      "bad_display_values": List([
        String("auto"),
        String("block"),
        String("fallback"),
      ])
    },
    // TODO: FILL IN THE {}.
    reason: "{} is not recommended."
)