[package]
name                   = "oxc_diagnostics"
version                = "0.13.1"
authors.workspace      = true
description.workspace  = true
edition.workspace      = true
homepage.workspace     = true
keywords.workspace     = true
license.workspace      = true
repository.workspace   = true
rust-version.workspace = true
categories.workspace   = true

[lints]
workspace = true

[lib]
doctest = false

[dependencies]
miette = { workspace = true }

unicode-width = { workspace = true }
owo-colors    = { workspace = true }
textwrap      = { workspace = true }
