[package]
name                   = "oxc_formatter"
version                = "0.1.1"
authors.workspace      = true
description.workspace  = true
edition.workspace      = true
homepage.workspace     = true
keywords.workspace     = true
license.workspace      = true
repository.workspace   = true
rust-version.workspace = true
categories.workspace   = true

[dependencies]
oxc_allocator = { workspace = true }
oxc_ast       = { workspace = true }
oxc_span      = { workspace = true }
oxc_syntax    = { workspace = true }

[dev-dependencies]
oxc_parser = { workspace = true }
miette     = { workspace = true, features = ["fancy-no-backtrace"] }
