[package]
name = "oxc_formatter_json"
version = "0.1.0"
authors.workspace = true
categories.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
publish = false
repository.workspace = true
rust-version.workspace = true
description = "Native JSON formatter for oxfmt using json5-compatible parsing."

[lints]
workspace = true

[lib]
doctest = false

[dependencies]
oxc_formatter_core = { workspace = true }
oxc_allocator = { workspace = true }

json5 = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true, features = ["preserve_order"] }
