[package]
name = "oxc_index"
version = "0.31.0"
authors.workspace = true
categories.workspace = true
edition.workspace = true
homepage.workspace = true
include = ["/src"]
keywords.workspace = true
license.workspace = true
publish = true
repository.workspace = true
rust-version.workspace = true
description.workspace = true

[lints]
workspace = true

[lib]
doctest = false

[dependencies]
rayon = { workspace = true, optional = true }
serde = { workspace = true, optional = true }

[features]
serialize = ["dep:serde"]
rayon = ["dep:rayon"]
