[package]
name                   = "oxc_index"
version                = "0.13.1"
publish                = true
authors.workspace      = true
description.workspace  = true
edition.workspace      = true
homepage.workspace     = true
keywords.workspace     = true
license.workspace      = true
repository.workspace   = true
rust-version.workspace = true
categories.workspace   = true

[lints]
workspace = true

[lib]
doctest = false

[dependencies]
serde = { workspace = true, optional = true }

[features]
serialize         = ["dep:serde"]
example_generated = []

[package.metadata.docs.rs]
features = ["example_generated"]
