[package]
name                   = "oxc_index"
version                = "0.12.1"
publish                = true
authors.workspace      = true
description.workspace  = true
edition.workspace      = true
homepage.workspace     = true
keywords.workspace     = true
license.workspace      = true
repository.workspace   = true
rust-version.workspace = true
categories.workspace   = true

[lints]
workspace = true

[lib]
doctest = false

[dependencies]
index_vec         = { workspace = true }
static_assertions = { workspace = true }

[features]
default   = []
serialize = ["index_vec/serde"]
