[package]
name = "oxc_formatter_core"
version = "0.1.0"
authors.workspace = true
categories.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
publish = false
repository.workspace = true
rust-version.workspace = true
description = "Language-agnostic formatter core primitives for oxc formatters."

[lints]
workspace = true

[lib]
doctest = false

[dependencies]
oxc_allocator = { workspace = true }
oxc_data_structures = { workspace = true, features = ["code_buffer", "stack"] }
oxc_span = { workspace = true }

cow-utils = { workspace = true }
rustc-hash = { workspace = true }
unicode-width = { workspace = true }
