[package]
name = "website_common"
version = "0.0.0"
edition.workspace = true
license.workspace = true
publish = false

[lints]
workspace = true

[lib]
doctest = false
test = false

[dependencies]
handlebars = { workspace = true }
itertools = { workspace = true }
schemars = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
