[package]
name = "oxc_span"
version = "0.48.2"
authors.workspace = true
categories.workspace = true
edition.workspace = true
homepage.workspace = true
include = ["/src"]
keywords.workspace = true
license.workspace = true
publish = true
repository.workspace = true
rust-version.workspace = true
description.workspace = true

[lints]
workspace = true

[lib]
doctest = false

[dependencies]
oxc_allocator = { workspace = true }
oxc_ast_macros = { workspace = true }
oxc_estree = { workspace = true }

compact_str = { workspace = true }
miette = { workspace = true }

schemars = { workspace = true, optional = true }
serde = { workspace = true, features = ["derive"], optional = true }

[features]
default = []
serialize = ["compact_str/serde", "dep:serde", "oxc_estree/serialize"]
schemars = ["dep:schemars"]
