[package]
name                   = "oxc_span"
version                = "0.5.0"
publish                = true
authors.workspace      = true
description.workspace  = true
edition.workspace      = true
homepage.workspace     = true
keywords.workspace     = true
license.workspace      = true
repository.workspace   = true
rust-version.workspace = true
categories.workspace   = true

[lints]
workspace = true

[lib]
doctest = false

[features]
default = []
serde   = ["dep:serde", "compact_str/serde"]
wasm    = ["dep:tsify", "dep:wasm-bindgen"]

[dependencies]
miette      = { workspace = true }
compact_str = { workspace = true }

tsify        = { workspace = true, optional = true }
wasm-bindgen = { workspace = true, optional = true }

serde = { workspace = true, features = ["derive"], optional = true }
