[package]
name = "oxc_transform_napi"
version = "0.69.0"
authors.workspace = true
categories.workspace = true
edition.workspace = true
homepage.workspace = true
include = ["/src", "build.rs"]
keywords.workspace = true
license.workspace = true
publish = true
repository.workspace = true
rust-version.workspace = true
description.workspace = true

[lints]
workspace = true

[lib]
crate-type = ["cdylib", "lib"]
test = false
doctest = false

[dependencies]
oxc = { workspace = true, features = ["full"] }
oxc_napi = { workspace = true }
oxc_sourcemap = { workspace = true, features = ["napi", "rayon"] }

rustc-hash = { workspace = true }

napi = { workspace = true }
napi-derive = { workspace = true }

[target.'cfg(all(not(target_os = "linux"), not(target_os = "freebsd"), not(target_arch = "arm"), not(target_family = "wasm")))'.dependencies]
mimalloc-safe = { workspace = true, features = ["skip_collect_on_exit"], optional = true }

[target.'cfg(any(all(target_os = "linux", not(target_arch = "arm")), target_os = "freebsd"))'.dependencies]
mimalloc-safe = { workspace = true, features = ["skip_collect_on_exit", "local_dynamic_tls"], optional = true }

[build-dependencies]
napi-build = { workspace = true }

[features]
default = []
allocator = ["dep:mimalloc-safe"]
