[package]
name                   = "oxc_wasm"
version                = "0.0.0"
publish                = false
authors.workspace      = true
edition.workspace      = true
keywords.workspace     = true
license.workspace      = true
rust-version.workspace = true
categories.workspace   = true

[lints]
workspace = true

[lib]
crate-type = ["cdylib", "rlib"]
test       = false
doctest    = false

[dependencies]
oxc = { workspace = true, features = ["serde", "semantic", "transformer", "minifier", "codegen", "wasm"] }

oxc_linter   = { workspace = true }
oxc_prettier = { workspace = true }
serde        = { workspace = true }

wasm-bindgen       = { workspace = true }
serde-wasm-bindgen = { workspace = true }
tsify              = { workspace = true }
