[package]
name                   = "oxc_wasm"
version                = "0.0.0"
publish                = false
authors.workspace      = true
edition.workspace      = true
keywords.workspace     = true
license.workspace      = true
rust-version.workspace = true
categories.workspace   = true

[lib]
crate-type = ["cdylib", "rlib"]
doctest = false

[features]
default = ["console_error_panic_hook"]

[dependencies]
oxc_allocator      = { workspace = true }
oxc_diagnostics    = { workspace = true }
oxc_ast            = { workspace = true, features = ["serde"] }
oxc_parser         = { workspace = true }
oxc_semantic       = { workspace = true }
oxc_linter         = { workspace = true }
oxc_formatter      = { workspace = true }
oxc_type_synthesis = { workspace = true }
# oxc_minifier       = { workspace = true }
oxc_span   = { workspace = true }
oxc_query  = { workspace = true }
serde_json = { workspace = true }
trustfall  = { workspace = true }
serde      = { workspace = true }

wasm-bindgen       = { version = "0.2" }
serde-wasm-bindgen = "0.6.0"

# The `console_error_panic_hook` crate provides better debugging of panics by
# logging them with `console.error`. This is great for development, but requires
# all the `std::fmt` and `std::panicking` infrastructure, so isn't great for
# code size when deploying.
console_error_panic_hook = { version = "0.1.7", optional = true }

[dev-dependencies]
wasm-bindgen-test = "0.3.37"
