[package]
name = "oxc_tasks_common"
version = "0.0.0"
edition.workspace = true
license.workspace = true
publish = false

[lints]
workspace = true

[lib]
test = false
doctest = false

[dependencies]
console = { workspace = true }

project-root = { workspace = true }
similar = { workspace = true }

ureq = { workspace = true, features = ["json", "rustls"] }
