[package]
name                   = "oxc_parser_wasm"
version                = "0.0.1"
publish                = false
authors.workspace      = true
description.workspace  = true
edition.workspace      = true
homepage.workspace     = true
keywords.workspace     = true
license.workspace      = true
repository.workspace   = true
rust-version.workspace = true
categories.workspace   = true

[lints]
workspace = true

[lib]
crate-type = ["cdylib", "rlib"]
test       = false
doctest    = false

[features]
default = ["console_error_panic_hook"]

[dependencies]
oxc = { workspace = true, features = ["serde", "wasm"] }
serde        = { workspace = true, features = ["derive"] }

wasm-bindgen       = { workspace = true }
serde-wasm-bindgen = { workspace = true }
tsify              = { workspace = true }

# The `console_error_panic_hook` crate provides better debugging of panics by
# logging them with `console.error`. This is great for development, but requires
# all the `std::fmt` and `std::panicking` infrastructure, so isn't great for
# code size when deploying.
console_error_panic_hook = { version = "0.1.7", optional = true }
