[package]
name                   = "oxlint"
version                = "0.4.3"
publish                = false
authors.workspace      = true
description.workspace  = true
edition.workspace      = true
homepage.workspace     = true
keywords.workspace     = true
license.workspace      = true
repository.workspace   = true
rust-version.workspace = true
categories.workspace   = true

[lints]
workspace = true

[lib]
doctest = false

[[bin]]
name = "oxlint"
path = "src/main.rs"
test = false

[target.'cfg(not(target_env = "msvc"))'.dependencies]
jemallocator = { workspace = true, optional = true }

[target.'cfg(target_os = "windows")'.dependencies]
mimalloc = { workspace = true, optional = true }

[dependencies]
oxc_diagnostics = { workspace = true }
oxc_linter      = { workspace = true }
oxc_span        = { workspace = true }

glob               = { workspace = true }
ignore             = { workspace = true, features = ["simd-accel"] }
miette             = { workspace = true }
tempfile           = { workspace = true }
rayon              = { workspace = true }
bpaf               = { workspace = true, features = ["autocomplete", "bright-color", "derive"] }
tracing-subscriber = { workspace = true, features = [] } # Omit the `regex` feature

[features]
default   = []
allocator = ["dep:jemallocator", "dep:mimalloc"]
