[package]
name                  = "oxc_type_synthesis"
version               = "0.0.0"
authors.workspace     = true
description.workspace = true
edition.workspace     = true
homepage.workspace    = true
keywords.workspace    = true
license.workspace     = true
repository.workspace  = true

[dependencies]
oxc_parser    = { workspace = true }
oxc_ast       = { workspace = true }
oxc_span      = { workspace = true }
oxc_syntax    = { workspace = true }
oxc_allocator = { workspace = true }
serde_json    = { workspace = true }

ezno-checker = { version = "0.0.2" }

[dev_dependencies]
miette = { workspace = true, features = ["fancy-no-backtrace"] }
