[package]
name                  = "oxc_syntax"
version               = "0.0.0"
publish               = false
authors.workspace     = true
description.workspace = true
edition.workspace     = true
homepage.workspace    = true
keywords.workspace    = true
license.workspace     = true
repository.workspace  = true

[features]
default = []
serde   = ["dep:serde"]

[dependencies]
serde = { workspace = true, features = ["derive"], optional = true }
