@prettier-placeholder-0-id @prettier-placeholder-1-id
html {
  margin: 0;
}

@prettier-placeholder-2-id:hover {
  fill: rebeccapurple;
}

@prettier-placeholder-3-id: @prettier-placeholder-4-id;

@prettier-placeholder-5-id:
@prettier-placeholder-6-id;

@prettier-placeholder-7-id
/* a comment */

.aRule {
  color: red;
}

@prettier-placeholder-8-id
