[package]
name = "oxc_printer"
version = "0.0.0"
authors.workspace = true
description.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
oxc_allocator = { path = "../oxc_allocator" }
oxc_ast = { path = "../oxc_ast" }

[dev_dependencies]
oxc_parser = { path = "../oxc_parser" }
miette = { workspace = true, features = ["fancy-no-backtrace"] }
