transform: @prettier-placeholder-0-id(30px);
transform: @prettier-placeholder-1-id (30px);
transform: @prettier-placeholder-2-id(@prettier-placeholder-3-idpx);
some-extra-long-property-name: @prettier-placeholder-4-id(@prettier-placeholder-5-idpx);
