a.`PLACEHOLDER-0`:focus,a.`PLACEHOLDER-1`:hover {
  color: red;
}
.foo,   .bar    `PLACEHOLDER-2` {
  color: blue;
}
& > :not(.`PLACEHOLDER-3`):not(`PLACEHOLDER-4`) {
  display: flex;
}
#`PLACEHOLDER-5` {
  color: red;
}
a[data-x=`PLACEHOLDER-6`] {
  color: blue;
}
