`PLACEHOLDER-0` `PLACEHOLDER-1`
html {
  margin: 0;
}

`PLACEHOLDER-2`:hover {
  fill: rebeccapurple;
}

`PLACEHOLDER-3`: `PLACEHOLDER-4`;

`PLACEHOLDER-5`:
`PLACEHOLDER-6`;

`PLACEHOLDER-7`
/* a comment */

.aRule {
  color: red;
}

`PLACEHOLDER-8`
