[package]
name                   = "oxc_parser_napi"
version                = "0.0.0"
publish                = false
authors.workspace      = true
description.workspace  = true
edition.workspace      = true
homepage.workspace     = true
keywords.workspace     = true
license.workspace      = true
repository.workspace   = true
rust-version.workspace = true
categories.workspace   = true

[lints]
workspace = true

[lib]
crate-type = ["cdylib"]
test       = false
doctest    = false

[dependencies]
oxc_allocator    = { workspace = true }
oxc_parser       = { workspace = true }
oxc_ast          = { workspace = true, features = ["raw", "serialize"] }
oxc_span         = { workspace = true }
oxc_diagnostics  = { workspace = true }
oxc_module_lexer = { path = "../../crates/oxc_module_lexer" }

tokio       = { workspace = true }
napi        = { workspace = true, features = ["async"] }
napi-derive = { workspace = true }
serde       = { workspace = true }
serde_json  = { workspace = true }

layout_inspect    = { workspace = true, features = ["unique_names", "serde"] }
static_assertions = { workspace = true }

[package.metadata.cargo-shear]
ignored = ["napi", "serde"]

[build-dependencies]
napi-build = { workspace = true }
