[package]
name = "oxc_data_structures"
version = "0.60.0"
authors.workspace = true
categories.workspace = true
edition.workspace = true
homepage.workspace = true
include = ["/src"]
keywords.workspace = true
license.workspace = true
publish = true
repository.workspace = true
rust-version.workspace = true
description.workspace = true

[lints]
workspace = true

[lib]
test = true
doctest = true

[dependencies]
assert-unchecked = { workspace = true, optional = true }
ropey = { workspace = true, optional = true }

[features]
default = []
all = ["code_buffer", "inline_string", "rope", "stack"]
code_buffer = ["dep:assert-unchecked"]
inline_string = []
rope = ["dep:ropey"]
stack = ["dep:assert-unchecked"]
