[package]
name = "oxc_sourcemap"
version = "0.31.0"
authors.workspace = true
categories.workspace = true
edition.workspace = true
homepage.workspace = true
include = ["/src"]
keywords.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
description.workspace = true

[lints]
workspace = true

[lib]
doctest = false

[dependencies]
base64-simd = { workspace = true }
cfg-if = { workspace = true }
cow-utils = { workspace = true }
rustc-hash = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }

rayon = { workspace = true, optional = true }

[features]
default = []
concurrent = ["dep:rayon"]
