# Run cargo-llvm-cov and upload to codecov.io

name: Code Coverage

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]
    paths:
      - '**.rs'
  push:
    branches:
      - main
    paths:
      - '**.rs'
      - '.github/workflows/codecov.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

jobs:
  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true # Pull submodules for `cargo coverage`

      - name: Install Rust Toolchain
        uses: ./.github/actions/rustup

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Install cargo-nextest
        uses: taiki-e/install-action@cargo-nextest

      - name: Install llvm-tools-preview for llvm-cov
        run: rustup component add llvm-tools-preview

      - name: Build oxlint
        run: cargo build -p oxc_cli --bin oxlint # for cli snapshots

      - name: Run
        run: cargo codecov --lcov --output-path lcov.info

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: codecov
          path: lcov.info

  # codecov often fails, use another workflow for retry
  upload-codecov:
    name: Upload coverage file
    runs-on: ubuntu-latest
    needs: coverage
    # Check if the event is not triggered by a fork by checking whether CODECOV_TOKEN is set
    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    steps:
      - name: Checkout
        if: env.CODECOV_TOKEN
        uses: actions/checkout@v3

      - name: Download coverage file
        if: env.CODECOV_TOKEN
        uses: actions/download-artifact@v3
        with:
          name: codecov

      - name: Upload to codecov.io
        if: env.CODECOV_TOKEN
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          files: lcov.info
