name: Cargo Deny

permissions: {}

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]
    paths:
      - "Cargo.lock"
      - "deny.toml"
      - ".github/workflows/deny.yml"
  push:
    branches:
      - main
    paths:
      - "Cargo.lock"
      - "deny.toml"
      - ".github/workflows/deny.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

jobs:
  deny:
    name: Cargo Deny
    runs-on: ubuntu-latest
    steps:
      - uses: taiki-e/checkout-action@3ab630d442e198ebb0ca30872832406ca01c46eb # v1.4.0

      - uses: oxc-project/setup-rust@c8224157c0bf235aabc633e8cd50d344f087a7de # v1.0.12
        with:
          restore-cache: false
          tools: cargo-deny

      - run: cargo deny check
