name: Update implementation status of all linter plugins

permissions: {}

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/lint_rules.yml"
      - "crates/oxc_linter/src/rules.rs"
      - "crates/oxc_linter/src/utils/mod.rs" # here are the remaps for some plugins
      - "tasks/lint_rules/**"

jobs:
  lint_rules:
    runs-on: ubuntu-slim
    permissions:
      contents: read
      issues: write
    steps:
      - name: Checkout Branch
        uses: taiki-e/checkout-action@3ab630d442e198ebb0ca30872832406ca01c46eb # v1.4.0

      - uses: oxc-project/setup-node@8958a8e040102244b619c4a94fccb657a44b1c21 # v1.0.6

      - name: Install latest plugins
        working-directory: tasks/lint_rules
        run: npm install

      - name: Run task
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: node ./tasks/lint_rules --update
