name: Miri

on:
  workflow_dispatch:

env:
  CARGO_TERM_QUIET: true

jobs:
  miri:
    name: Miri
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Miri
        run: |
          rustup component add miri
          cargo miri setup

      - name: Test with Miri
        run: MIRIFLAGS="-Zmiri-disable-isolation" cargo miri test
