name: Check PR

permissions: {}

on:
  pull_request_target: # zizmor: ignore[dangerous-triggers]
    types:
      - opened
      - edited
      - synchronize
    branches-ignore:
      - "**/graphite-base/**"

jobs:
  pr:
    if: github.repository == 'oxc-project/oxc'
    name: Label and Check PR Title
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-slim
    steps:
      - uses: taiki-e/checkout-action@3ab630d442e198ebb0ca30872832406ca01c46eb # v1.4.0

      - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1

      - name: Validate PR title
        id: pr-title
        uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          requireScope: true
          types: |
            build
            chore
            ci
            docs
            feat
            fix
            perf
            refactor
            release
            revert
            style
            test

      - name: Add category label
        uses: actions-ecosystem/action-add-labels@18f1af5e3544586314bbe15c0273249c770b2daf # v1.1.3
        env:
          CATEGORY: ${{ case(
            steps.pr-title.outputs.type == 'feat', 'C-enhancement',
            steps.pr-title.outputs.type == 'fix', 'C-bug',
            steps.pr-title.outputs.type == 'test', 'C-test',
            contains(fromJson('["refactor", "chore", "style"]'), steps.pr-title.outputs.type), 'C-cleanup',
            steps.pr-title.outputs.type == 'docs', 'C-docs',
            steps.pr-title.outputs.type == 'perf', 'C-performance',
            '') }}
        if: ${{ env.CATEGORY != '' }}
        with:
          labels: ${{ env.CATEGORY }}
