name: Release @oxc-project/types

permissions: {}

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - npm/oxc-types/package.json
      - .github/workflows/release_types.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Check version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.check.outputs.version }}
      version_changed: ${{ steps.check.outputs.version_changed }}
    steps:
      - uses: taiki-e/checkout-action@b13d20b7cda4e2f325ef19895128f7ff735c0b3d # v1.3.1
      - uses: ./.github/actions/check-version
        id: check
        with:
          file-name: npm/oxc-types/package.json
          file-url: https://unpkg.com/@oxc-project/types/package.json

  build:
    needs: check
    if: needs.check.outputs.version_changed == 'true'
    name: Release @oxc-project/types
    runs-on: ubuntu-latest
    permissions:
      id-token: write # for `pnpm publish --provenance`
    steps:
      - uses: taiki-e/checkout-action@b13d20b7cda4e2f325ef19895128f7ff735c0b3d # v1.3.1

      - uses: oxc-project/setup-node@141eb77546de6702f92d320926403fe3f9f6a6f2 # v1.0.5

      - run: npm install -g npm@latest # For trusted publishing support

      # Trusted publishing is configured, publish token is not required.
      - name: Trusted Publish
        working-directory: npm/oxc-types
        run: pnpm publish --provenance --access public --no-git-checks
