name: Prepare Release

permissions: {}

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
        description: "The name defined in oxc_release.toml"
    secrets:
      OXC_BOT_PAT:
        required: true
    outputs:
      pull-request-number:
        value: ${{ jobs.run.outputs.pull-request-number }}
      version:
        value: ${{ jobs.run.outputs.version }}

jobs:
  run:
    name: Prepare Release
    runs-on: ubuntu-latest
    outputs:
      pull-request-number: ${{ steps.pr.outputs.pull-request-number }}
      version: ${{ steps.run.outputs.VERSION }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: oxc-project/setup-rust@d286d43bc1f606abbd98096666ff8be68c8d5f57 # v1.0.2
        with:
          cache-key: warm
          tools: cargo-release-oxc

      - name: Run
        id: run
        env:
          RELEASE_NAME: ${{ inputs.name }}
        run: |
          cargo ck
          cargo release-oxc update --release ${RELEASE_NAME}
          echo "VERSION=$(cat ./target/OXC_VERSION)" >> $GITHUB_OUTPUT
          {
            echo 'CHANGELOG<<EOF'
            cat ./target/OXC_CHANGELOG
            echo EOF
          } >> $GITHUB_OUTPUT

      # update `Cargo.lock`
      - run: cargo check

      - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        id: pr
        with:
          # bot account with PAT required for triggering workflow runs
          # See https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-further-workflow-runs
          token: ${{ secrets.OXC_BOT_PAT }}
          commit-message: "chore(release): ${{ inputs.name }}) v${{ steps.run.outputs.VERSION }}"
          branch: release/${{ inputs.name }}
          branch-suffix: timestamp
          base: main
          title: "release(${{ inputs.name }}): v${{ steps.run.outputs.VERSION }}"
          body: ${{ steps.run.outputs.CHANGELOG }}
          assignees: Boshen
