name: Prepare Release

permissions: {}

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
        description: "The name defined in oxc_release.toml"
    secrets:
      OXC_BOT_PAT:
        required: true
    outputs:
      pull-request-number:
        value: ${{ jobs.run.outputs.pull-request-number }}
      version:
        value: ${{ jobs.run.outputs.version }}

jobs:
  run:
    name: Prepare Release
    runs-on: ubuntu-latest
    outputs:
      pull-request-number: ${{ steps.pr.outputs.pull-request-number }}
      version: ${{ steps.run.outputs.VERSION }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: oxc-project/setup-rust@1ff88fdaffd6ae35c0fb32ccc159340b37d0beac # v1.0.7
        with:
          cache-key: warm
          tools: cargo-release-oxc

      - name: Run
        id: run
        env:
          RELEASE_NAME: ${{ inputs.name }}
        run: |
          cargo ck
          cargo release-oxc update --release ${RELEASE_NAME}
          echo "VERSION=$(cat ./target/OXC_VERSION)" >> $GITHUB_OUTPUT
          {
            echo 'CHANGELOG<<EOF'
            cat ./target/OXC_CHANGELOG
            echo EOF
          } >> $GITHUB_OUTPUT

      - uses: oxc-project/setup-node@fdbf0dfd334c4e6d56ceeb77d91c76339c2a0885 # v1.0.4
        if: ${{ inputs.name == 'crates' || inputs.name == 'oxlint' }}

      # Run NAPI-RS build, because NAPI-RS uses version from `package.json` in the bindings file,
      # which is committed to the repo. The version has just been bumped in previous step.
      # We don't use the compiled `.node` binary, so only do a development build, as it's faster.
      - name: Rebuild NAPI packages bindings
        if: ${{ inputs.name == 'crates' }}
        run: |
          pnpm --filter oxc-minify run build-dev
          pnpm --filter oxc-parser run build-dev
          pnpm --filter oxc-transform run build-dev

      - name: Rebuild Oxlint NAPI bindings
        if: ${{ inputs.name == 'oxlint' }}
        run: pnpm --filter oxlint run build-dev

      # update `Cargo.lock`
      - run: cargo check

      - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        id: pr
        with:
          # bot account with PAT required for triggering workflow runs
          # See https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-further-workflow-runs
          token: ${{ secrets.OXC_BOT_PAT }}
          commit-message: "chore(release): ${{ inputs.name }}) v${{ steps.run.outputs.VERSION }}"
          branch: release/${{ inputs.name }}
          branch-suffix: timestamp
          base: main
          title: "release(${{ inputs.name }}): v${{ steps.run.outputs.VERSION }}"
          body: ${{ steps.run.outputs.CHANGELOG }}
          assignees: Boshen
