name: Website

on:
  workflow_dispatch:
  push:
    branches:
      - main
      # - website
    paths:
      - 'website/**'
      - '.github/workflows/website.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  website:
    name: Deploy Website
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Rust Toolchain
        uses: ./.github/actions/rustup
        with:
          save-cache: ${{ github.ref_name == 'website' }}
          shared-key: 'wasm'

      - name: Install pnpm
        working-directory: website
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache-dependency-path: ./website/package.json
          cache: pnpm

      - name: Build
        working-directory: website
        run: |
          pnpm install
          pnpm run build

      - name: Deploy Website
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: website/dist
          publish_branch: gh-pages
