InputQuery (
    query: r#"
query {
  File {
    type_annotation {
      type {
        str @filter(op: "=", value: ["$Number"])
        span_: span {
          start @output
          end @output
        }
      }
    }
  }
}"#,
    args: {
      "Number": String("Number")
    },
    reason: "Use number instead"
)
